@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

body {
  font-family: 'Vazir', 'Tahoma', sans-serif;
  direction: rtl;
}

/* Utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
